@font-face {
    font-family: DancingScript;
    font-style: normal;
    src: url("../assets/fonts/DancingScript-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: DancingScript;
    font-style: normal;
    src: url("../assets/fonts/DancingScript-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: DancingScript;
    font-style: normal;
    src: url("../assets/fonts/DancingScript-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: DancingScript;
    font-style: normal;
    src: url("../assets/fonts/DancingScript-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: RobotoCondensed;
    font-style: normal;
    src: url("../assets/fonts/RobotoCondensed-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: RobotoCondensed;
    font-style: italic;
    src: url("../assets/fonts/RobotoCondensed-LightItalic.ttf");
    font-weight: 200;
}

@font-face {
    font-family: RobotoCondensed;
    font-style: normal;
    src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: RobotoCondensed;
    font-style: italic;
    src: url("../assets/fonts/RobotoCondensed-Italic.ttf");
    font-weight: 400;
}

@font-face {
    font-family: RobotoCondensed;
    font-style: normal;
    src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: RobotoCondensed;
    font-style: italic;
    src: url("../assets/fonts/RobotoCondensed-BoldItalic.ttf");
    font-weight: 700;
}